<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androlord.teacherapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Functions.Assets"></activity>
        <activity android:name=".Support.UploadAssets" />
        <activity android:name=".Support.MarksCourseList" />
        <activity android:name=".Functions.MarksSheet" />
        <activity android:name=".Functions.AttendanceSheet" />
        <activity android:name=".Support.AttendenceCourseList" />
        <activity android:name=".Authentication.SignUp" />
        <activity android:name=".Authentication.Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>